* {
    font-family: "Noto Sans";
}

body {
    /* background-color: #363747;*/

    background: rgb(54,55,71);
    background: linear-gradient(120deg, rgb(54,55,71) 0%, rgb(41,42,56) 100%); 
}

@keyframes appear {
    from {
        opacity: 0;
        margin-top: 100px;
    }

    80% {
        opacity: 1;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.appear {
    animation: appear 0.5s forwards ease-in-out;
}

@media (min-width: 1000px) {
    /* Large screens */

    #content {
        display: flex;
        flex-direction: row;
        color: white;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        opacity: 0; /* Hidden for the animation */
    }

    .line {
        background-color: rgba(131, 131, 131, 0.7);
        border: 1px solid rgb(135, 135, 135);
        border-radius: 5px;
        height: auto;
        width: clamp(0.4vh, 4px, 0.4vw);
        margin: clamp(1vh, 10px, 1vw);
    
        transition: 0.3s ease;
    }

    #profile {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
    }

    #profile-text {
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
        margin-right: 10px;
    }

    #profile-username {
        margin: 0;
        font-size: clamp(3vh, 30px, 3vw);
        color: white;
        font-weight: 600;
    
        text-align: right;
    
        opacity: 0.7;

        text-shadow: 0px 0px 7px rgba(255,255,255,0.4);
    }
    
    #profile-pronouns {
        margin: 0;
        font-size: clamp(1.8vh, 18px, 1.8vw);
        color: white;
    
        text-align: right;
    
        opacity: 0.7;

        text-shadow: 0px 0px 7px rgba(255,255,255,0.4);
    }
    
    .link:hover {
        font-size: clamp(2vh, 20px, 2vw);
        background-color: rgba(67, 71, 81, 0.6);
        opacity: 1;
    }

    .link:active {
        font-size: clamp(1.7vh, 17px, 1.7vw);
        background-color: rgba(60, 58, 66, 0.6);
    }
}

@media (max-width: 1000px) {
    /* Small Screens */

    #content {
        display: flex;
        flex-direction: column;
        color: white;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        opacity: 0; /* Hidden for the animation */
    }
    
    .line {
        background-color: rgba(131, 131, 131, 0.7);
        border: 1px solid rgb(135, 135, 135);
        border-radius: 5px;
        height: clamp(0.4vh, 4px, 0.4vw);
        width: auto;
        margin: clamp(1vh, 10px, 1vw);
    
        transition: 0.3s ease;
    }

    #profile {
        margin-right: 10px;
        display: flex;
        flex-direction: row;
    }

    #profile-text {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-left: 10px;
    }

    #profile-username {
        margin: 0;
        font-size: clamp(3vh, 30px, 3vw);
        color: white;
        font-weight: 600;
    
        opacity: 0.7;

        text-shadow: 0px 0px 7px rgba(255,255,255,0.4);
        
    }
    
    #profile-pronouns {
        margin: 0;
        font-size: clamp(1.8vh, 18px, 1.8vw);
        color: white;
    
        opacity: 0.7;

        text-shadow: 0px 0px 7px rgba(255,255,255,0.4);
    }
    
    .link:hover {
        background-color: rgba(49, 52, 63, 0.6);
        opacity: 1;
    }

    .link:active {
        background-color: rgba(37, 34, 45, 0.6);
    }
}

.link {
    color: white;
    font-size: clamp(1.8vh, 18px, 1.8vw);
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    opacity: 0.7;

    margin-top: 1.5px;
    margin-bottom: 1.5px;

    cursor: pointer;
    user-select: none;

    text-shadow: 0px 0px 7px rgba(255,255,255,0.4);
}

.link:visited {
    color: white;
    text-decoration: none;
}

#profile-picture {
    border-radius: 100%;
    border: clamp(0.3vh, 3px, 0.3vw) solid rgb(135, 135, 135);

    aspect-ratio: 1;
    width: clamp(13vh, 130px, 13vw);

    transition: 0.3s ease;

    background-color:  #1e042e ;
}

#profile-picture:hover {
    scale: 1.05;
}

#profile-picture:active {
    scale: 0.95;
    opacity: 0.5;
}

#links {
    width: clamp(30vh, 300px, 30vw);
}

#links-links {
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease;

    opacity: 1;
}

#links-projects {
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease;

    display: none;
    opacity: 0;
}

#sourcecode {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#sourcecode-text {
    margin: 0;
    color: white;
    opacity: 0.7;
    font-size: clamp(1.2vh, 12px, 1.2vw);

    text-shadow: 0px 0px 7px rgba(255,255,255,0.4);
}

#sourcecode-text > a {
    text-decoration: none;
    color: white;
}

#sourcecode-text > a:visited {
    text-decoration: none;
    color: white;
}

#sourcecode-text > a:active {
    text-decoration: none;
    color: white;
}

#animation-circle {
    aspect-ratio: 1;
    border-radius: 100%;

    border: 1px solid;
    border-color: rgb(34, 35, 43);

    width: 1px;
    height: 1px;
    background-color: rgb(34, 35, 43);

    position: fixed;
    top: 0px;
    left: 0px;

    transition: scale 1s ease;
}